Source: apt-clone
Section: admin
Priority: extra
Maintainer: Michael Vogt <michael.vogt@ubuntu.com>
Uploaders: Alessio Treglia <alessio@debian.org>
Build-Depends: debhelper (>= 7.0.50~),
               gettext,
               intltool,
               python3-all
Standards-Version: 3.9.2
Vcs-Git: https://github.com/mvo5/apt-clone
Homepage: https://launchpad.net/apt-clone
XS-Testsuite: autopkgtest

Package: apt-clone
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         lsb-release,
         python3-apt,
         python3
Recommends: dpkg-repack
Description: Script to create state bundles
 This package can be used to clone/restore the packages on a apt based
 system. It will save/restore the packages, sources.list, keyring and
 automatic-installed states. It can also save/restore no longer
 downloadable packages using dpkg-repack.
